{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <section class="about-section">
        <h1>About</h1>
        <p>This is the about page of our simple Django project. Return to the <a href="{% url 'home' %}">home page</a>.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quod quam nisi qui architecto, laborum quidem nam rerum 
            consectetur ullam, a, vitae laboriosam impedit dolor tenetur. Accusantium dolorem minima ut!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quod quam nisi qui architecto, laborum quidem nam rerum 
            consectetur ullam, a, vitae laboriosam impedit dolor tenetur. Accusantium dolorem minima ut! Lorem ipsum dolor sit 
            amet consectetur adipisicing elit. Voluptas eos recusandae voluptate, cupiditate eligendi veniam repellendus voluptates 
            dignissimos beatae eius delectus voluptatem sint ullam dolorum earum quae ex omnis magni.</p>
    </section>
{% endblock %}